<form action="/login" method="post">  
<div class="login">  
    login: <input type="text" name="username" placeholder="Input Login ID" value="00001" /> <br/><br/>
    password: <input type="password" name="password" placeholder="Input Login Password" value="0001" /><br/><br/>
    <button type="submit" id='btn_submit' class="TBL_BLUE">ログイン</button>
</div>  
</form>