  <!-- seated modal -->
  <div class="modal fade seated-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">着席処理</h4>
        </div>
        <div class='modal-body'>
          <p>着席させますか？</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary seated">着席</button>
        </div>
      </div>
    </div>
  </div>
  <!-- seated modal -->
<!-- unseated modal -->
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">退席処理</h4>
        </div>
        <div class='modal-body'>
          <p>退席させますか？</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary leave">退席</button>
        </div>
      </div>
    </div>
  </div>
  <!-- unseated modal -->
