<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/css/ui-lightness/jquery-ui-1.10.4.css">
    <link rel="stylesheet" href="/linker/css/ui-lightness/jquery-ui-1.10.4.min.css">
    <link rel="stylesheet" href="/linker/css/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/linker/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/css/buttonmorph/component.css">
    <link rel="stylesheet" href="/linker/css/ks/ks-panel.css">
    <link rel="stylesheet" href="/linker/css/parts/parts.css">
    <link rel="stylesheet" href="/linker/css/style/master.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/ks/ks.base.code.js"></script>
    <script src="/linker/js/ks/ks.base.dragUI.js"></script>
    <script src="/linker/js/ks/ks.base.htmlcache.js"></script>
    <script src="/linker/js/ks/ks.base.static.js"></script>
    <script src="/linker/js/ks/ks.base.widgettmpl.js"></script>
    <script src="/linker/js/ks/ks.cast.js"></script>
    <script src="/linker/js/ks/ks.global-tab-mobile.js"></script>
    <script src="/linker/js/ks/ks.global-tab-nsys.js"></script>
    <script src="/linker/js/ks/ks.global-tab.js"></script>
    <script src="/linker/js/ks/ks.main.js"></script>
    <script src="/linker/js/ks/ks.masterdetai.js"></script>
    <script src="/linker/js/ks/ks.presence.js"></script>
    <script src="/linker/js/ks/ks.ready.js"></script>
    <script src="/linker/js/ks/ks.seats.js"></script>
    <script src="/linker/js/ks/ks.visitor.js"></script>
    <script src="/linker/js/jquery-1.7.2.min.js"></script>
    <script src="/linker/js/jquery-ui-1.10.4.js"></script>
    <script src="/linker/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/linker/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/linker/js/ks/kt.moment.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <script src="/linker/js/date/todate.js"></script>
    <script src="/linker/js/jquery.cookie.js"></script>
    <script src="/linker/js/jquery.noty.packaged.min.js"></script>
    <script src="/linker/js/jquery.qrcode.min.js"></script>
    <script src="/linker/js/moment/moment-with-locales.min.js"></script>
    <script src="/linker/js/ns/ns.customer.js"></script>
    <script src="/linker/js/ns/ns.master.js"></script>
    <script src="/linker/js/ns/ns.mobile.js"></script>
    <script src="/linker/js/ns/ns.staff.js"></script>
    <!--SCRIPTS END-->
  </head>
  <body>
    <%- body %>




    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

  </body>
</html>
